.idea
*.iml
*.iws
*.ipr

/target

/datapad-infra
/datapad
*.log
/jetpad-experimental
/jetpad-mapper
/jetpad-ot
/jetpad-projectional
/jetpad-vc
/.hypothesis

.cache
python.started
evaluator*.log*

*~
__pycache__
